@import "roboto.css";

body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding-top: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h2 {
  color: rgb(255, 0, 119);
}

.logo {
  background-image: url("../assets/webpack-logo.png");
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
